body {
    font-family: Roboto, serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* The below code mainly styles the hero section */

.hero,
.footer {
    background-color: #1f2937;
}

.hero {
    padding: 24px 250px 150px 250px
}

.header {
    display: flex;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
    margin-right: auto;
}

.header-links {
    display: flex;
    gap: 24px;
}

.header-links a {
    text-decoration: none;
}

.header-links a,
.hero-subtext {
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    gap: 40px;
    flex-wrap: wrap-reverse;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 450px;
}

.hero-header {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero-subtext {
    margin-bottom: 12px;
}

.sign-up {
    background-color: #3882f6;
    border-radius: 8px;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 36px;
    border: none;
}

.hero-text .sign-up {
    max-width: fit-content;
}

.img-placeholder {
    width: 550px;
    height: 250px;
    color: #e5e7eb;
    font-size: 18px;
    background-color: #676770;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
}

/* The below code mainly styles the info section*/

.info {
    /* padding: 50px 250px 100px 250px; I'd like to try centering the items and giving them a size instead.*/ 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.info > h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    margin: 50px 0 50px 0;
    padding: 0;
}

.infoitem-container {
    display: flex;
    gap: 50px;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    color: #676770;
    font-size: 18px;
    text-align: center;
}

.info-img {
    flex: none;
    height: 200px;
    width: 200px;
    border: 4px solid #3882f6;
    border-radius: 16px;
    margin-bottom: 12px;
}

.info-txt {
    max-width: 170px;
}

/* The below code styles the quote section*/

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1f2937;
    padding: 100px 350px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    margin-bottom: 12px;
}

.quote-attribution {
    font-size: 20px;
    font-weight: 700;
    margin-left: auto;   
}

/* The below code styles the signup section*/

.signup-section {
    display: flex;
    padding: 100px 150px;
    justify-content: center;
}

.signup-container {
    background-color: #3882f6;
    display: flex;
    align-items: center;
    gap: 150px;
    padding: 50px 150px;
    border-radius: 8px;
}

.signup-text {
    color: #e5e7eb;
    font-size: 18px;
}

.signup-text h3 {
    color: #f9faf8;
    margin: 0;
}

.signup-section .sign-up {
    border: 3px solid #f9faf8;
    white-space: nowrap;
}

/* The below code styles the footer */

.footer {
    display: flex;
    justify-content: center;
    color: #e5e7eb;
    font-size: 18px;
    padding: 36px 0;
}